*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.clipboard {
  filter: brightness(0) invert(1);
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0;
}

.month-dropdown {
  width: 70px;
}

.clinic-text {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.return-to-clinic-text.disabled {
  color: #6c757d;
  pointer-events: none;
}
